<app-non-auth-top-bar *ngIf="!authenticated"></app-non-auth-top-bar>
<app-auth-top-bar *ngIf="authenticated"></app-auth-top-bar>
<section class="cover">
  <div class="cover-banner">
    <div class="row">
      <div class="jumbotron container-fluid">
        <h1 class="text-center">About Us</h1>
      </div>
    </div>
    <div class="split left">
      <div class="row">
        <div class="jumbotron container-fluid">
          <h1 class="h1">Who we are</h1>
          <p class="info">
            We are AG-VIS, a technology conglomerate focused on improving the
            world through agriculture. We consist of 4 members:<br /><br /><br />
            Kieran Gordon: The Chief Client-side Engineer<br />
            Aroura Pariseau: The Grand Back-End Engineer<br />
            Gunner Ganske: The Master of the data<br />
            Cameron Pelzer: The Secondary Client-side Engineer
          </p>
        </div>
      </div>
    </div>
    <div class="split center">
      <div class="row">
        <div class=" jumbotron container-fluid">
          <h1 class="h1">What we do</h1>
          <p class="info">
            We are bringing numbers into the farming game. By installing our
            system, Farmers can login to their system and see data visualization
            of the environmental factors surrounding their crops. This allows
            for farmers to see how their crops are doing over different spans of
            time. By doing this, farmers can have a better understanding of the
            environment surrounding their crops, thus making adjustments and
            getting better yields.
          </p>
        </div>
      </div>
    </div>
    <div class="split right">
      <div class="row">
        <div class="jumbotron container-fluid">
          <h1 class="h1">How we do what we do</h1>
          <p class="info">
            This system was built using many frameworks and packages. We
            utilized things like Angular, NodeJS, and ChartJS as well PHP,
            mySQL, and EngineX. By combining all of these, we were able to
            create an embedded system that could collect data, store it in a
            database. That database is then accessed for authentication, and to
            get the data for the data visualization. This all is then sent to
            the client, where it is displayed nicely for the customers to view.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
