<app-non-auth-top-bar *ngIf="!authenticated"></app-non-auth-top-bar>
<app-auth-top-bar *ngIf="authenticated"></app-auth-top-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="jumbotron mt-lg">
        <h1 class="display-4 text-info">Talk to Us!</h1>
        <p class="lead">
          We want to help you and to do that we need some input from you. Please
          contact us with any questions or comments that you have.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ngb-alert
        *ngIf="successMessage"
        type="success"
        (close)="successMessage = null"
        >{{ successMessage }}</ngb-alert
      >

      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            [(ngModel)]="name"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Email</label>
          <input
            type="email"
            name="email"
            class="input form-control"
            [(ngModel)]="email"
            placeholder="Your Email"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Subject</label>
          <input
            type="text"
            name="subject"
            class="input form-control"
            [(ngModel)]="subject"
            placeholder="Subject Line"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Message</label>
          <textarea
            class="textarea form-control"
            name="message"
            [(ngModel)]="message"
            placeholder="Questions and Comments"
          ></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-info" (click)="submit_button()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
