<section class="cover">
  <div class="cover-banner">
    <div class="row">
      <div class="jumbotron mt-lg container-fluid">
        <h1 class="text-center">
          Contact Us
        </h1>
      </div>
    </div>
    <div class="row">
      <div class=" jumbotron mt-lg container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            Name
          </p>
          <input type="text" name="Username" class="input form-control" [(ngModel)] = "Username">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            Email
          </p>
          <input type="email" name="Useremail" class="input form-control" [(ngModel)] = "Useremail">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            Your Questions/Comments
          </p>
          <textarea class="textarea form-control" name="complaint" [(ngModel)] = "complaint"></textarea>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <button class="btn-primary" (click)="submit_button()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>