<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand blue-link" routerLink="">Unlock</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#probootstrap-nav"
    aria-controls="probootstrap-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="probootstrap-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item abs-center">
        <a routerLink="/about" class="nav-link abs-center">About</a>
      </li>
      <li class="nav-item abs-center">
        <a routerLink="/contact" class="nav-link abs-center">Contact</a>
      </li>
      <li class="nav-item top-bar-button">
        <a href="#" class="btn btn-outline-info nav-link">Sign up</a>
      </li>
      <li class="nav-item top-bar-button">
        <a href="#" class="nav-link btn btn-outline-info">Log In</a>
      </li>
    </ul>
  </div>
</nav>
