/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-w-h-center {
  display: flex;
  align-items: center;
}

.flex-w-v-center {
  display: flex;
  justify-content: center;
}
