<div class="container-fluid">
  <section class="row home-section">
    <div class="col-lg-6 full-height">
      <div class="jumbotron mt-lg full-height">
        <h1 class="display-4">Let us watch your plants!</h1>
        <p class="lead">
          This is a short description of what the company will do. We specialize
          in some stuff and offer a service that will help you do some things.
          Just trust me, it's going to be awesome.
        </p>
        <hr class="my-4" />
        <p>
          Our sensors our consistently made with the most toxic plastics. We
          ensure maximum lead and mercury content, and ALWAYS use the smallest
          of pieces to maximize choking hazards.
        </p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <!--
          <div class="form-group">
            <label for="exampleInputPassword1">Retype Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
        -->
        <div class="form-group">
          <button type="submit" class="btn btn-info form-control">Login</button>
          <small id="emailHelp" class="form-text text-muted"
            >Need an account? Sign up <a routerLink="/signup">here</a>.</small
          >
        </div>
      </form>
    </div>
  </section>
  <!--
    <section class="row home-section">
      <div class="jumbotron mt-lg">
        <h1 class="display-4">SensAG</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content out
          within the larger container.
        </p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </section>
    <section class="row home-section"></section>
  -->
</div>
