<div class="container-fluid">
  <section class="row home-section">
    <div class="col-lg-6">
      <div class="jumbotron mt-lg">
        <h1 class="display-4">Let us watch your plants!</h1>
        <p class="lead">
          This is a short description of what the company will do. We specialize
          in some stuff.
        </p>
        <hr class="my-4" />
        <p>
          Our sensors our consistently made with the most toxic plastics. We
          ensure maximum lead and mercury content.
        </p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
          <a
            class="btn btn-outline-info btn-lg ml-3"
            href="#"
            role="button"
            data-toggle="modal"
            data-target="#exampleModal"
            >Sign Up!</a
          >
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            [ngClass]="
              loginForm.controls.email.errors &&
              loginForm.controls.email.touched
                ? ['border', 'border-danger']
                : []
            "
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
          <small
            *ngIf="
              loginForm.controls.email.errors &&
              loginForm.controls.email.touched
            "
            id="emailHelp"
            class="form-text text-danger"
            >{{ setErrorMessage(loginForm.controls.email.errors) }}</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            formControlName="password"
            [ngClass]="
              loginForm.controls.password.errors &&
              loginForm.controls.password.touched
                ? ['border', 'border-danger']
                : []
            "
          />
          <small
            *ngIf="
              loginForm.controls.password.errors &&
              loginForm.controls.password.touched
            "
            id="emailHelp"
            class="form-text text-danger"
            >{{ setErrorMessage(loginForm.controls.password.errors) }}</small
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info form-control">Login</button>
          <small id="emailHelp" class="form-text text-muted"
            >Don't have an account?
            <a href="#" data-toggle="modal" data-target="#exampleModal"
              >Register</a
            ></small
          >
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm" (submit)="register()">
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter your first name..."
                  formControlName="firstName"
                  [ngClass]="
                    registerForm.controls.firstName.errors &&
                    registerForm.controls.firstName.touched
                      ? ['border', 'border-danger']
                      : []
                  "
                />
                <small
                  *ngIf="
                    registerForm.controls.firstName.errors &&
                    registerForm.controls.firstName.touched
                  "
                  id="emailHelp"
                  class="form-text text-danger"
                  >{{
                    setErrorMessage(registerForm.controls.firstName.errors)
                  }}</small
                >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter your last name..."
                  formControlName="lastName"
                  [ngClass]="
                    registerForm.controls.lastName.errors &&
                    registerForm.controls.lastName.touched
                      ? ['border', 'border-danger']
                      : []
                  "
                />
                <small
                  *ngIf="
                    registerForm.controls.lastName.errors &&
                    registerForm.controls.lastName.touched
                  "
                  id="emailHelp"
                  class="form-text text-danger"
                  >{{
                    setErrorMessage(registerForm.controls.lastName.errors)
                  }}</small
                >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                  formControlName="email"
                  [ngClass]="
                    registerForm.controls.email.errors &&
                    registerForm.controls.email.touched
                      ? ['border', 'border-danger']
                      : []
                  "
                />
                <small
                  *ngIf="
                    registerForm.controls.email.errors &&
                    registerForm.controls.email.touched
                  "
                  id="emailHelp"
                  class="form-text text-danger"
                  >{{
                    setErrorMessage(registerForm.controls.email.errors)
                  }}</small
                >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  formControlName="password"
                  [ngClass]="
                    registerForm.controls.password.errors &&
                    registerForm.controls.password.touched
                      ? ['border', 'border-danger']
                      : []
                  "
                />
                <small
                  *ngIf="
                    registerForm.controls.password.errors &&
                    registerForm.controls.password.touched
                  "
                  id="emailHelp"
                  class="form-text text-danger"
                  >{{
                    setErrorMessage(loginForm.controls.password.errors)
                  }}</small
                >
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Retype Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  formControlName="confPass"
                />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-info form-control">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </section>
</div>
