.cover {
  min-height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-banner {
  width: 40%;
  height: 200px;
}

.cover-title {
  font-size: 6em;
  text-align: center;
}

.cover-button {
  width: 60%;
  margin: auto;
}
