a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
/* TOP BAR */
.top-bar {
  width: 100%;
  height: 65px;
  background-color: rgba(48, 127, 255, 0.734);
  border-radius: 2px;
  -webkit-box-shadow: -1px 25px 73px -15px rgba(199, 199, 199, 1);
  -moz-box-shadow: -1px 25px 73px -15px rgba(199, 199, 199, 1);
  box-shadow: -1px 25px 73px -15px rgba(199, 199, 199, 1);
}
.top-bar-brand {
  width: 5%;
  height: 100%;
}
.top-bar-item {
  width: 7%;
  height: 100%;
}
.top-bar-brand-link {
  margin: auto;
  font-size: 1.5em;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}
.top-bar-link {
  margin: auto;
  font-size: 1.2em;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}
