<section fxLayout="row" class="top-bar">
  <div fxLayout class="top-bar-brand">
    <a href="#" class="top-bar-brand-link" fxLayoutAlign="center center">Logo</a>
  </div>
  <span fxFlex="auto"></span>
  <div fxLayout class="top-bar-item">
    <a href="#" class="top-bar-link" fxLayoutAlign="center center">Home</a>
  </div>
  <div fxLayout class="top-bar-item">
    <a href="#" class="top-bar-link" fxLayoutAlign="center center">Contact</a>
  </div>
  <div fxLayout class="top-bar-item">
    <a href="#" class="top-bar-link" fxLayoutAlign="center center">About</a>
  </div>
</section>